* {
    font-family: 'Times New Roman', Times, serif;
  }
  
:root {
    --primary: black ;
    --secondary: white ;
    --background1: rgb(53, 19, 107) ;
    --background2: rgb(97, 3, 3) ;
}

@media screen and (max-width: 980px) {
}